<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="header"></div>
<body>
<div th:insert="menu"></div>
<div th:insert="header :: title"></div>

<div class="container mt-3">
<h2>Categories</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td>
            <a href="/type/category" th:href="@{'/categories/'+${category.name}}"
               th:text="${category.name}">Category</a>
        </td>
    </tr>
    </tbody>
</table>

<br/>
</div>

<div th:insert="footer"></div>
</body>

</html>