<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="header"></div>
<header>
    <style>
        th {
          background-color: #87CEFA;
          color: white;
        }
    </style>
</header>
<body>
<div th:insert="menu"></div>
<div th:insert="header :: title"></div>

<h2>Stores</h2>

<a href="/stores/new" th:href="@{/stores/new}" class="btn btn-primary">New store</a>

<table width="100%" class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Subcategory</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="store : ${stores}">
        <td>
            <a href="/store/{id}" th:href="@{'/store/'+${store.id}}"
               th:text="${store.name}">Store</a>
        </td>
        <td th:text="${store.categoryName}">Category</td>
        <td th:text="${store.subCategoryName}">Subcategory</td>
    </tr>
    </tbody>
</table>

<br/>

<div th:insert="footer"></div>
</body>

</html>








